@media only screen and (max-width: 991px) {
  header {
    .head-top {
      .container {
        .row {
          nav.outer {
            position: relative;
          }
          nav {
            text-align: right;
          
            .menu-trigger{
              display: block;
              border: none;
              position: absolute;
              top: 26%;
              right: 7px;
              font-size: 30px;
              background-color: #9acd3200;
            }

            ul {
              float: right;
              display: none;
            }
          }
          div {
            form {
              display: none;
            }
          }
        }
      }
    }
    .head-body {
      padding-top: 0px;
      background: no-repeat;
      .container {
        padding-bottom: 30px;
      }
    }
  }

  .section {
    .domainSearch {
      .container {
        .grid {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }

  footer {
    background: #c4a2e2;
    padding: 29px 0;
  }
}

@media only screen and (max-width: 767px) {
  .section {
    .domainSearch {
      padding: 0 0 40px;
      .container {
        .row {
          div {
            form {
              .form {
                width: 74%;
                input {
                  width: 80%;
                }
                select {
                  text-transform: none;
                  background: none;
                  border: none;
                  outline: none;
                }
              }
            }
          }
        }
        .grid {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-column-gap: 20px;
          .priceTable {
            border-radius: 9px;
            border: 3px solid #dae3e8;
            margin: 120px 0px 0px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .section {
    .domainSearch {
      padding: 0 0 40px;
      .container {
        .row {
          div {
            form {
              width: 90%;
              margin: 10px auto 0;
              .form {
                width: 71%;
                input {
                  width: 76%;
                }
                select {
                  text-transform: none;
                  background: none;
                  border: none;
                  outline: none;
                }
              }
            }
          }
        }
        .grid {
          display: grid;
          grid-template-columns: 1fr;
          grid-column-gap: 20px;
          .priceTable {
            margin: 90px 20% 0px;
          }
        }
      }
    }
  }
  footer {
    text-align: center;
    .container {
      .row {
        .ico {
          ul {
            li {
                margin: 0 3%;
            }
          }
        }
        div {
          h3 {
            font-size: 24px;
            border-bottom: 1px solid #fff;
            padding-bottom: 15px;
            margin-top: 10px;
          }

          ul {
            list-style: disc;
            text-decoration: none;
            margin-bottom: 20px;
            list-style-position: inside;
            padding: 0;
            width: 40%;
            margin: auto;
            li {
              color: #fff;
              text-decoration: none;
              font-size: 11px;
              text-transform: uppercase;
              line-height: 2.2;
              list-style-type: none;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 504px ) {
  .section {
    .domainSearch {
      .container {
        .row {
          div {
            form {
              .form {
                width: 66%;
                input {
                  width: 68%;
                }
              }
            }
          }
        }
      }
    }
  }
}