/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
body{
    font-family: Roboto;
}

header {
    background: url(../img/bg-head.png) repeat-x #c4a2e2;
    .container {
        .row {
            p {
                padding: 8px 20px 8px 0;
                color: white;
                img {
                    padding: 0 10px 0 0;
                    color: white;
                }
            }
        }
    }

    .head-top {
        background: url(../img/bg-head-top.png) repeat-x;
        .container {
            .row {
                .logo {
                    img {
                        padding: 21px 0;
                    }
                }
                nav {
                    .menu-trigger {
                        display: none;
                    }
                    ul {
                        float: right;
                        li {
                            color: black;
                            float: left;
                            padding: 30px 0;
                            text-transform: uppercase;
                            font-weight: 600;
                            a {
                                color: black;
                                padding: 30px 18px;
                                text-decoration: none;
                            }
                        }
                    }
                }
                div {
                    form {
                        border-radius: 10px;
                        border: 1px solid #d5dfe5;
                        margin: 18px 0;
                        input {
                            overflow: visible;
                            border: none;
                            padding: 10px;
                            background: none;
                            width: 75%;
                            outline: none;
                        }
                        button {
                            float: right;
                            -webkit-appearance: button;
                            padding: 11px 14px 11px 9px;
                            background: none;
                            border: none;
                            outline: none;
                        }
                    }
                }
            }
        }
    }
    .head-body {
        padding-top: 20px;
        background: url(../img/but-head.png) no-repeat bottom;
        .container {
            background: url(../img/bg-con-head.png) no-repeat center;
            padding-bottom: 200px;
            .row {
                div {
                    h2 {
                        color: white;
                        font-size: 40px;
                        padding: 10px 0;
                    }

                    h3 {
                        color: white;
                        font-size: 24px;
                    }

                    p {
                        font-size: 14px;
                        line-height: 130%;
                    }

                    ul {
                        margin: 25px 0 0 35px;
                        list-style-image: url(../img/tick.png);
                        list-style-position: inside;
                        li {
                            color: #fff;
                            font-size: 14px;   
                            line-height: 230%;
                        }
                    }
                }
            }
        }
    }
}

.section {
    text-align: center;
    margin: 50px 0 30px;
    .sectionTop {
        margin: 50px 0 30px;
        .container {
            .row {
                div {
                    h2 {
                        font-size: 20px;
                        color: #2c4755;
                        margin-bottom: 20px;
                    }

                    p {
                        color: #637988;
                        font-size: 14px;
                    }
                }

                .col-lg-4 {
                    margin-top: 65px;
                    padding: 0 40px;
                    .ic {
                        height: 110px;
                    }

                    h3 {
                        color: #2c4755;
                        font-size: 17px;
                        margin: 20px 0 30px;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .domainSearch {
        background: url(../img/border-top.png) no-repeat top;
        .container {
            padding: 60px 0 0 0;
            .row {
                div {
                    h2 {
                        color: #2c4755;
                        font-size: 20px;
                        margin: 20px 0 30px;
                    }

                    p {
                        font-size: 14px;
                    }
                    form {
                        width: 100%;
                        border: 1px solid #ebeef1;
                        border-radius: 9px;
                        background: linear-gradient(to top, #edf2f6, #fff);
                        padding: 5px;
                        height: 52px;
                        margin-top: 40px;
                        .form {
                            border-radius: 9px;
                            border: 1px solid #e1e6ea;
                            width: 77%;
                            background: none;
                            float: left;
                            input {
                                border: none;
                                width: 86%;
                                background: none;
                                padding: 10px;
                                outline: none;
                            }

                            select {
                                text-transform: none;
                                background: none;
                                border: none;
                                outline: none;
                            }
                        }

                        button {
                            float: right;
                            border-radius: 9px;
                            color: #fff;
                            background-color: #38b0e5;
                            background: linear-gradient(to top, #3fbbed, #91ddff);
                            padding: 9px;
                            -webkit-appearance: button;
                            outline: none;
                            border: 1px solid #3fbbed;
                        }
                    }
                }
            }
            .grid {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-column-gap:20px;
                .priceTable {
                    border-radius: 9px;
                    border: 3px solid #dae3e8;
                    margin: 120px 0 50px;
                    .price {
                        border-top-left-radius: 6px;
                        border-top-right-radius: 6px;
                        position: relative;
                        height: 180px;
                        background-image: url(../img/bg-map.png), url(../img/clouds.png), url(../img/server.png);
                        background-color: #3fbbed;
                        background-position: center, bottom, bottom;
                        background-repeat: no-repeat;
                        background-size: auto, contain, auto;
                        .prices {
                            position: absolute;
                            top: -60px;
                            left: 50%;
                            width: 120px;
                            height: 120px;
                            background-color: #38b0e5;
                            background: linear-gradient(to top, #3fbbed, #91ddff);
                            border: 15px solid #fff;
                            border-radius: 50%;
                            margin-left: -60px;
                            ul {
                                color: #fff;
                                width: 80px;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                margin-top: -24px;
                                margin-left: -40px;
                            }
                        }
                    }
                    .body {
                        padding: 20px 30px;
                        ul {
                            width: 70%;
                            margin: 0 auto;
                            text-align: left;
                            li {
                                list-style-image: url(../img/tick.png);
                                text-align: none;
                                line-height: 2;
                                font-size: 11px;
                            }
                        }
                        button {
                            background-color: #38b0e5;
                            background: linear-gradient(to top, #3fbbed, #91ddff);
                            border: aliceblue;
                            padding: 10px 20px;
                            border-radius: 10px;
                            color: #fff;
                            margin-top: 25px;
                            outline: none;
                        }
                    }
                }
            }
        }
    }

    .customPlans {
        background: url(../img/border-top.png) no-repeat top;
        .container {
            padding: 60px 0 0 0;
            .row {
                h2 {
                    font-size: 20px;
                    font-weight: 600;
                }

                p {
                    font-family: Roboto;
                    font-size: 14px;
                    margin: 30px 0 35px;
                }

                button {
                    background-color: #38b0e5;
                    background: linear-gradient(to top, #3fbbed, #91ddff);
                    border: aliceblue;
                    padding: 10px 40px;
                    border-radius: 10px;
                    color: #fff;
                    margin-top: 25px;
                    outline: none;
                }
            }
        }
    }
}

footer {
    background: url(../img/f-bg-button.png) no-repeat center bottom #c4a2e2;
    padding: 29px 0 120px;
    .container {
        .row {
            div {
                h3 {
                    color: #fff;
                    font-size: 17px;
                    text-transform: capitalize;
                    margin-bottom: 20px;
                }

                span {
                    color: white;
                    font-size: 13px;
                    float: right;
                    margin-top: 5px;
                }

                h4 {
                    color: #fff;
                    font-size: 17px;
                    margin-bottom: 10px;
                }

                ul {
                    list-style: disc;
                    margin-bottom: 20px;
                    list-style-position: inside;
                    padding: 0 0 0 8px;
                    li {
                        color:#fff;
                        font-size: 11px;
                        text-transform: uppercase;
                        line-height: 2.2;
                        a {
                            color:#fff;
                            text-decoration: none;
                        }
                    }
                }

                P  {
                    color: #fff;
                    font-size: 11px;
                }
            }

            .ico {
                ul {
                    padding: 0;
                    li {
                        float: left;
                        list-style: none;
                        margin: 0 2% 0 0;
                    }
                }
            }
        }
    }
}