@media only screen and (max-width: 991px) {
  /* line 6, ../sass/medstyle.scss */
  header .head-top .container .row nav.outer {
    position: relative;
  }
  /* line 9, ../sass/medstyle.scss */
  header .head-top .container .row nav {
    text-align: right;
  }
  /* line 12, ../sass/medstyle.scss */
  header .head-top .container .row nav .menu-trigger {
    display: block;
    border: none;
    position: absolute;
    top: 26%;
    right: 7px;
    font-size: 30px;
    background-color: #9acd3200;
  }
  /* line 22, ../sass/medstyle.scss */
  header .head-top .container .row nav ul {
    float: right;
    display: none;
  }
  /* line 28, ../sass/medstyle.scss */
  header .head-top .container .row div form {
    display: none;
  }
  /* line 35, ../sass/medstyle.scss */
  header .head-body {
    padding-top: 0px;
    background: no-repeat;
  }
  /* line 38, ../sass/medstyle.scss */
  header .head-body .container {
    padding-bottom: 30px;
  }

  /* line 47, ../sass/medstyle.scss */
  .section .domainSearch .container .grid {
    grid-template-columns: 1fr 1fr;
  }

  /* line 54, ../sass/medstyle.scss */
  footer {
    background: #c4a2e2;
    padding: 29px 0;
  }
}
@media only screen and (max-width: 767px) {
  /* line 62, ../sass/medstyle.scss */
  .section .domainSearch {
    padding: 0 0 40px;
  }
  /* line 68, ../sass/medstyle.scss */
  .section .domainSearch .container .row div form .form {
    width: 74%;
  }
  /* line 70, ../sass/medstyle.scss */
  .section .domainSearch .container .row div form .form input {
    width: 80%;
  }
  /* line 73, ../sass/medstyle.scss */
  .section .domainSearch .container .row div form .form select {
    text-transform: none;
    background: none;
    border: none;
    outline: none;
  }
  /* line 83, ../sass/medstyle.scss */
  .section .domainSearch .container .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }
  /* line 87, ../sass/medstyle.scss */
  .section .domainSearch .container .grid .priceTable {
    border-radius: 9px;
    border: 3px solid #dae3e8;
    margin: 120px 0px 0px;
  }
}
@media only screen and (max-width: 575px) {
  /* line 100, ../sass/medstyle.scss */
  .section .domainSearch {
    padding: 0 0 40px;
  }
  /* line 105, ../sass/medstyle.scss */
  .section .domainSearch .container .row div form {
    width: 90%;
    margin: 10px auto 0;
  }
  /* line 108, ../sass/medstyle.scss */
  .section .domainSearch .container .row div form .form {
    width: 71%;
  }
  /* line 110, ../sass/medstyle.scss */
  .section .domainSearch .container .row div form .form input {
    width: 76%;
  }
  /* line 113, ../sass/medstyle.scss */
  .section .domainSearch .container .row div form .form select {
    text-transform: none;
    background: none;
    border: none;
    outline: none;
  }
  /* line 123, ../sass/medstyle.scss */
  .section .domainSearch .container .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
  }
  /* line 127, ../sass/medstyle.scss */
  .section .domainSearch .container .grid .priceTable {
    margin: 90px 20% 0px;
  }

  /* line 134, ../sass/medstyle.scss */
  footer {
    text-align: center;
  }
  /* line 140, ../sass/medstyle.scss */
  footer .container .row .ico ul li {
    margin: 0 3%;
  }
  /* line 146, ../sass/medstyle.scss */
  footer .container .row div h3 {
    font-size: 24px;
    border-bottom: 1px solid #fff;
    padding-bottom: 15px;
    margin-top: 10px;
  }
  /* line 153, ../sass/medstyle.scss */
  footer .container .row div ul {
    list-style: disc;
    text-decoration: none;
    margin-bottom: 20px;
    list-style-position: inside;
    padding: 0;
    width: 40%;
    margin: auto;
  }
  /* line 161, ../sass/medstyle.scss */
  footer .container .row div ul li {
    color: #fff;
    text-decoration: none;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 2.2;
    list-style-type: none;
  }
}
@media only screen and (max-width: 504px) {
  /* line 183, ../sass/medstyle.scss */
  .section .domainSearch .container .row div form .form {
    width: 66%;
  }
  /* line 185, ../sass/medstyle.scss */
  .section .domainSearch .container .row div form .form input {
    width: 68%;
  }
}
