/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/screen.scss */
body {
  font-family: Roboto;
}

/* line 11, ../sass/screen.scss */
header {
  background: url(../img/bg-head.png) repeat-x #c4a2e2;
}
/* line 15, ../sass/screen.scss */
header .container .row p {
  padding: 8px 20px 8px 0;
  color: white;
}
/* line 18, ../sass/screen.scss */
header .container .row p img {
  padding: 0 10px 0 0;
  color: white;
}
/* line 26, ../sass/screen.scss */
header .head-top {
  background: url(../img/bg-head-top.png) repeat-x;
}
/* line 31, ../sass/screen.scss */
header .head-top .container .row .logo img {
  padding: 21px 0;
}
/* line 36, ../sass/screen.scss */
header .head-top .container .row nav .menu-trigger {
  display: none;
}
/* line 39, ../sass/screen.scss */
header .head-top .container .row nav ul {
  float: right;
}
/* line 41, ../sass/screen.scss */
header .head-top .container .row nav ul li {
  color: black;
  float: left;
  padding: 30px 0;
  text-transform: uppercase;
  font-weight: 600;
}
/* line 47, ../sass/screen.scss */
header .head-top .container .row nav ul li a {
  color: black;
  padding: 30px 18px;
  text-decoration: none;
}
/* line 56, ../sass/screen.scss */
header .head-top .container .row div form {
  border-radius: 10px;
  border: 1px solid #d5dfe5;
  margin: 18px 0;
}
/* line 60, ../sass/screen.scss */
header .head-top .container .row div form input {
  overflow: visible;
  border: none;
  padding: 10px;
  background: none;
  width: 75%;
  outline: none;
}
/* line 68, ../sass/screen.scss */
header .head-top .container .row div form button {
  float: right;
  -webkit-appearance: button;
  padding: 11px 14px 11px 9px;
  background: none;
  border: none;
  outline: none;
}
/* line 81, ../sass/screen.scss */
header .head-body {
  padding-top: 20px;
  background: url(../img/but-head.png) no-repeat bottom;
}
/* line 84, ../sass/screen.scss */
header .head-body .container {
  background: url(../img/bg-con-head.png) no-repeat center;
  padding-bottom: 200px;
}
/* line 89, ../sass/screen.scss */
header .head-body .container .row div h2 {
  color: white;
  font-size: 40px;
  padding: 10px 0;
}
/* line 95, ../sass/screen.scss */
header .head-body .container .row div h3 {
  color: white;
  font-size: 24px;
}
/* line 100, ../sass/screen.scss */
header .head-body .container .row div p {
  font-size: 14px;
  line-height: 130%;
}
/* line 105, ../sass/screen.scss */
header .head-body .container .row div ul {
  margin: 25px 0 0 35px;
  list-style-image: url(../img/tick.png);
  list-style-position: inside;
}
/* line 109, ../sass/screen.scss */
header .head-body .container .row div ul li {
  color: #fff;
  font-size: 14px;
  line-height: 230%;
}

/* line 121, ../sass/screen.scss */
.section {
  text-align: center;
  margin: 50px 0 30px;
}
/* line 124, ../sass/screen.scss */
.section .sectionTop {
  margin: 50px 0 30px;
}
/* line 129, ../sass/screen.scss */
.section .sectionTop .container .row div h2 {
  font-size: 20px;
  color: #2c4755;
  margin-bottom: 20px;
}
/* line 135, ../sass/screen.scss */
.section .sectionTop .container .row div p {
  color: #637988;
  font-size: 14px;
}
/* line 141, ../sass/screen.scss */
.section .sectionTop .container .row .col-lg-4 {
  margin-top: 65px;
  padding: 0 40px;
}
/* line 144, ../sass/screen.scss */
.section .sectionTop .container .row .col-lg-4 .ic {
  height: 110px;
}
/* line 148, ../sass/screen.scss */
.section .sectionTop .container .row .col-lg-4 h3 {
  color: #2c4755;
  font-size: 17px;
  margin: 20px 0 30px;
}
/* line 154, ../sass/screen.scss */
.section .sectionTop .container .row .col-lg-4 p {
  font-size: 14px;
}
/* line 162, ../sass/screen.scss */
.section .domainSearch {
  background: url(../img/border-top.png) no-repeat top;
}
/* line 164, ../sass/screen.scss */
.section .domainSearch .container {
  padding: 60px 0 0 0;
}
/* line 168, ../sass/screen.scss */
.section .domainSearch .container .row div h2 {
  color: #2c4755;
  font-size: 20px;
  margin: 20px 0 30px;
}
/* line 174, ../sass/screen.scss */
.section .domainSearch .container .row div p {
  font-size: 14px;
}
/* line 177, ../sass/screen.scss */
.section .domainSearch .container .row div form {
  width: 100%;
  border: 1px solid #ebeef1;
  border-radius: 9px;
  background: linear-gradient(to top, #edf2f6, #fff);
  padding: 5px;
  height: 52px;
  margin-top: 40px;
}
/* line 185, ../sass/screen.scss */
.section .domainSearch .container .row div form .form {
  border-radius: 9px;
  border: 1px solid #e1e6ea;
  width: 77%;
  background: none;
  float: left;
}
/* line 191, ../sass/screen.scss */
.section .domainSearch .container .row div form .form input {
  border: none;
  width: 86%;
  background: none;
  padding: 10px;
  outline: none;
}
/* line 199, ../sass/screen.scss */
.section .domainSearch .container .row div form .form select {
  text-transform: none;
  background: none;
  border: none;
  outline: none;
}
/* line 207, ../sass/screen.scss */
.section .domainSearch .container .row div form button {
  float: right;
  border-radius: 9px;
  color: #fff;
  background-color: #38b0e5;
  background: linear-gradient(to top, #3fbbed, #91ddff);
  padding: 9px;
  -webkit-appearance: button;
  outline: none;
  border: 1px solid #3fbbed;
}
/* line 221, ../sass/screen.scss */
.section .domainSearch .container .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
}
/* line 225, ../sass/screen.scss */
.section .domainSearch .container .grid .priceTable {
  border-radius: 9px;
  border: 3px solid #dae3e8;
  margin: 120px 0 50px;
}
/* line 229, ../sass/screen.scss */
.section .domainSearch .container .grid .priceTable .price {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  position: relative;
  height: 180px;
  background-image: url(../img/bg-map.png), url(../img/clouds.png), url(../img/server.png);
  background-color: #3fbbed;
  background-position: center, bottom, bottom;
  background-repeat: no-repeat;
  background-size: auto, contain, auto;
}
/* line 239, ../sass/screen.scss */
.section .domainSearch .container .grid .priceTable .price .prices {
  position: absolute;
  top: -60px;
  left: 50%;
  width: 120px;
  height: 120px;
  background-color: #38b0e5;
  background: linear-gradient(to top, #3fbbed, #91ddff);
  border: 15px solid #fff;
  border-radius: 50%;
  margin-left: -60px;
}
/* line 250, ../sass/screen.scss */
.section .domainSearch .container .grid .priceTable .price .prices ul {
  color: #fff;
  width: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -24px;
  margin-left: -40px;
}
/* line 261, ../sass/screen.scss */
.section .domainSearch .container .grid .priceTable .body {
  padding: 20px 30px;
}
/* line 263, ../sass/screen.scss */
.section .domainSearch .container .grid .priceTable .body ul {
  width: 70%;
  margin: 0 auto;
  text-align: left;
}
/* line 267, ../sass/screen.scss */
.section .domainSearch .container .grid .priceTable .body ul li {
  list-style-image: url(../img/tick.png);
  text-align: none;
  line-height: 2;
  font-size: 11px;
}
/* line 274, ../sass/screen.scss */
.section .domainSearch .container .grid .priceTable .body button {
  background-color: #38b0e5;
  background: linear-gradient(to top, #3fbbed, #91ddff);
  border: aliceblue;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  margin-top: 25px;
  outline: none;
}
/* line 290, ../sass/screen.scss */
.section .customPlans {
  background: url(../img/border-top.png) no-repeat top;
}
/* line 292, ../sass/screen.scss */
.section .customPlans .container {
  padding: 60px 0 0 0;
}
/* line 295, ../sass/screen.scss */
.section .customPlans .container .row h2 {
  font-size: 20px;
  font-weight: 600;
}
/* line 300, ../sass/screen.scss */
.section .customPlans .container .row p {
  font-family: Roboto;
  font-size: 14px;
  margin: 30px 0 35px;
}
/* line 306, ../sass/screen.scss */
.section .customPlans .container .row button {
  background-color: #38b0e5;
  background: linear-gradient(to top, #3fbbed, #91ddff);
  border: aliceblue;
  padding: 10px 40px;
  border-radius: 10px;
  color: #fff;
  margin-top: 25px;
  outline: none;
}

/* line 321, ../sass/screen.scss */
footer {
  background: url(../img/f-bg-button.png) no-repeat center bottom #c4a2e2;
  padding: 29px 0 120px;
}
/* line 327, ../sass/screen.scss */
footer .container .row div h3 {
  color: #fff;
  font-size: 17px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
/* line 334, ../sass/screen.scss */
footer .container .row div span {
  color: white;
  font-size: 13px;
  float: right;
  margin-top: 5px;
}
/* line 341, ../sass/screen.scss */
footer .container .row div h4 {
  color: #fff;
  font-size: 17px;
  margin-bottom: 10px;
}
/* line 347, ../sass/screen.scss */
footer .container .row div ul {
  list-style: disc;
  margin-bottom: 20px;
  list-style-position: inside;
  padding: 0 0 0 8px;
}
/* line 352, ../sass/screen.scss */
footer .container .row div ul li {
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 2.2;
}
/* line 357, ../sass/screen.scss */
footer .container .row div ul li a {
  color: #fff;
  text-decoration: none;
}
/* line 364, ../sass/screen.scss */
footer .container .row div P {
  color: #fff;
  font-size: 11px;
}
/* line 371, ../sass/screen.scss */
footer .container .row .ico ul {
  padding: 0;
}
/* line 373, ../sass/screen.scss */
footer .container .row .ico ul li {
  float: left;
  list-style: none;
  margin: 0 2% 0 0;
}
